@use "../styles/variables" as variables; 

.content {
    margin: var(--h1) 0;
    padding: 0 var(--h1);
    
    header {
        border-left: solid 0.25em #757575;
        padding-left: 1em;

        @media (min-width: variables.$laptop) {
            border-left: solid 0.5em #757575;
            padding-left: 2em;
        }

        h2 {
            margin-bottom: 0;
        }
    
        h3 {
            margin-top: 0;
        }
    }    
}