.Footer {
    padding: var(--h1);
    
    p {
        color: white;
    }
}

.copyright {
    font-size: var(--text-small);
}

.disclaimer {
    font-size: var(--text-small);
    font-style: italic;
}